*{
  padding:0px;
  margin:none;
  font-family: sans-serif;
}

body{
  background: #f6f8fab0;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p{
  color:rgba(117, 117, 117, 1);
}

.main-container{
  margin-top: 5rem;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:50px;
  background: white;
  padding:40px;
  width:30%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 40px rgb(224, 217, 217) ;
}

.container{
  display:flex;
  flex-direction: column;
  gap:25px;
}

.header{
  width: 100%;
}

.header span{
  color:rgba(117, 117, 117, 1);
}

.header>h2{
  margin-top: 10px;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap:15px;
  width: 100%;
}

.inp{
  display: flex;
  flex-direction: column;
  gap:5px;
}

label{
  color: rgba(51, 51, 51, 1);
}

input{
  font-size: 16px;
  padding:12px;
  width:350px;
  border: 1px solid rgba(222, 222, 222, 1);
  outline: none;
  border-radius: 5px;
  width: auto;
}

.btn{
  font-size: 16px;
  font-weight: 600;
  width: 100%;  
  padding:12px;
  background-color:#625BF7 ;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container p{
  color:#625BF7;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.signUp{
  display:flex;
  gap:5px;
}

.signUp p{
  font-size: 14px;
  width: fit-content;
  margin: auto;
  margin-top: 3rem;
}

 #error{
  color:red;
}

.profile{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.profile img{
border:2px solid rgba(202, 201, 201, 0.801);
  width:150px;
  height:150px;
}

a{
  text-decoration: none;
  color: #625BF7;
}

@media only screen and (max-width: 600px) 
{

  body{
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  form{
    width: 100%;
  }

  .container{
    width: 50%;
  }
}